<!----
    <div class='fields-container'>
        <h3> Enter un and pw</h3>
        <input matInput placeholder='email' (keyup)='onUsernameKeypress($event)'/> 
        <input matInput placeholder='password' type=password (keyup)='onPasswordKeypress($event)'/>
        <button mat-flat-button color='accent' (click)='onSubmitKeypress()'> Submit </button>
    </div>
-->

<form>
    <mat-form-field class='input-field'>
        <input matInput placeholder='Email' (keyup)='onUsernameKeypress($event)'/>
    </mat-form-field>
    <mat-form-field class='input-field'>
        <input matInput placeholder='Password' (keyup)='onPasswordKeypress($event)' />
    </mat-form-field>
    <button mat-flat-button color='accent' (click)='onSubmitKeypress()'> Submit </button>
</form>